<div class="container-about">
    <div class="card-intro">
        <div class="alert alert-intro">
            Hello Everyone &#128515;
        </div>
    </div>
    <div class="container-desc mt-4">
        <h5 class="text-desc">This is a simple CRUD project using some tech including</h5>
        <div class="container-tech">
            <img src="/img/node-icon.png" alt="" width="100px" class="img-tech">
            <img src="/img/ExpressJS-icon.png" alt="" width="100px" class="img-tech">
            <img src="/img/mogodb-icon.png" alt="" width="100px" class="img-tech">
        </div>
    </div>

</div>